/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding-top: 56px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  body {
    padding-top: 56px;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }
}
/* remove padding bottom later after added contents */
main {
  flex: 1;
  padding-bottom: 700px;
}

.button-group {
  display: flex;
  gap: 16px; /* space between buttons */
  font-family: Arial, sans-serif;
}

a[href] {
  transition: opacity 0.3s ease;
}

a[href]:active {
  opacity: 0.7;
}
