*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f3f4f6;
}

/* style for the  Page */
.page {
    width: 90%;            /* 90% of screen width on small devices */
    max-width: 700px;      /* a bit wider for laptops */
    margin: 120px auto 40px auto;
}

h1{
    margin-bottom: 20px;
    color: #1f2937;
    font-size: 30px;
}

/* style for the Card */
.card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0 , 0, 0.1);
    width: 100%;           /* fills parent .page */
    box-sizing: border-box;
}

label{
    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: bold;
}

select, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ccc ;
}

textarea{
    height: 120px;
    resize: none;
}

/* style for the submit button */
.submit-btn{
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 14px;
    border-radius: 14px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

/* hidden checkbox */
#ShowMessage{
    display: none;
}

/* style for the sucess message */
/* hidden by difault */
.success-message {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 520px;
    max-width: 90%;
    padding: 20px 30px;
    background: #d1fae5;
    color: #064e3b;
    border-radius: 16px;
    border: 1px solid #a7f3d0;
    display: none;
    align-items: center;  
    gap: 15px;
    font-weight: 600;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Display success message after submit button is clicked */
#ShowMessage:checked ~ .success-message{
  display: flex;
}