body{
background:#ededed;
margin:0;
}

.visitor-logs{
padding:40px;
font-family:Arial;
}

.visitor-logs h2{
margin-bottom:20px;
}

.table-container{
background:#ffffff;
padding:20px;
border-radius:10px;
transition:0.3s;
}

table{
width:100%;
border-collapse:collapse;
}

th{
text-align:left;
font-size:13px;
color:#a6a9b0;
padding:15px;
border-bottom:1px solid #8f8f8f;
}

td{
padding:15px;
border-bottom:1px solid #8f8f8f;
}

tr:last-child td{
border-bottom:none;
}

tbody tr{
transition:0.2s;
}

tbody tr:hover{
background-color:#e5e7eb;
cursor:pointer;
}

.time-in{
color:#2563eb;
font-weight:bold;
}

.time-out{
color:#9ca3af;
}